/*reset
Reset per:
-Azzerare tutti i margini
-Azzerare tutti i padding
-Impostare a tutti i tag il box-sizing di tipo border-box 
*/

table {
    font-size: 1.5em;
}
.colore-verde {
    color: green;
}
#titolo-principale {
    color: red;
    font-size: xx-large;
    font-family: fantasy;
}
table {
    background-color: aqua;
}
p {
    border: 2px solid;
    padding: 30px 70px;
    margin: 30px 30px;
}
main {
    width: 50%;
}
.larghezza {
    width: 1024px;
}
#larghezza-bordi {
    border-width: 10px 7px 4px 2px;
    border-style: solid;
    border-color: yellow;
}